/* === RESET BÁSICO === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ff69b4;
  
}

nav {
    font-size: 30px;
    background-color: #72f1dc;
    position: sticky;
    top: 0;
    height: 97px;
    transition: background-color 0.3s ease;
    justify-content: center;

    
}


.links{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 55px;
    padding: 0 20px;
    background-color: #72f1dc;
}

#h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
    background-color: #72f1dc;
    text-align: center;
    color: #800080;
    padding: 10px;


}

#login {
    color: #800080;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #72f1dc;

}


#cadastro {
    color: #800080;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #72f1dc;

}





#inicio {
   color: #800080;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #72f1dc;
    
}

#produtos {
   color: #800080;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #72f1dc;
    
}






#sobre {
    color: #800080;
    font-size: 20px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #72f1dc;
   
}

#h2 {
    text-align: center;
    color: #800080;
    font-size: 30px;
    background-color: #72f1dc;
    margin-top: -4px;
   
}

.paragrafo {
    color: white;

}

.preco {
    color: white;


}

.botao {
    background-color: #007BFF;
    width: 200px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #2167fc;
    padding: 7px;
}

.botao:hover {
    background-color: #0056b3;
    /* Cor de fundo ao passar o mouse */



}

.ver-tudo {
    display: block;
    /* Faz com que o botão seja um bloco */
    margin: 20px auto;
    /* Margem automática para centralizar horizontalmente */
    padding: 10px 20px;
    /* Adiciona algum preenchimento ao botão */
    background-color: #007BFF;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto */
    border: none;
    /* Remove a borda padrão */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor de ponteiro */


}

.ver-tudo:hover {
    background-color: #0056b3;
    /* Cor de fundo ao passar o mouse */
    transform: scale(1.1);
    /* Aumenta o botão em 10% */
}


h2 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: #72f1dc;
    text-align: center;
    color: #800080;

}

.h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background-color: #72f1dc;
    text-align: center;
    color: #800080;

}

.maquiagem-container {
    display: flex;
    width: 25%;
    gap: 30px;
    margin: 40px;
    align-items: end;

}

.maquiagem {
    border: 1px solid blue;
    border-radius: 5px;
}

.maquiagem:hover {
    transform: scale(1.1);
    /* Aumenta o botão em 10% */
    transition: transform 0.3s ease;
}

.infantil-container {
    display: flex;
    width: 25%;
    gap: 27px;
    margin: 40px;
    align-items: end;

}

.infantil {
    border: 1px solid blue;
    border-radius: 5px;

}

.infantil:hover {
    transform: scale(1.1);
    /* Aumenta o botão em 10% */
    transition: transform 0.3s ease;
}

.acessorio-container {
    display: flex;
    width: 25%;
    gap: 29px;
    margin: 40px;
    align-items: end;
}

.acessorio {
    border: 1px solid blue;
    border-radius: 5px;
}

.acessorio:hover {
    transform: scale(1.1);
    /* Aumenta o botão em 10% */
    transition: transform 0.3s ease;
}


.oculos-container {
    display: flex;
    width: 25%;
    gap: 30px;
    margin: 40px;
    align-items: end;

}

.oculos {
    border: 1px solid blue;
    border-radius: 5px;

}

.oculos:hover {
    transform: scale(1.1);
    /* Aumenta o botão em 10% */
    transition: transform 0.3s ease;
}


.roda {
    background-color: aliceblue;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

@media screen and (max-width: 900px){
    .maquiagem-container
    {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
    
}
@media screen and (max-width: 900px){
    .acessorio-container{
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
    
}

@media screen and (max-width: 900px){
    .infantil-container{
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }    
}

@media screen and (max-width: 900px){
    .oculos-container{
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
    
}